name: Build and Run

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: make build
      - name: Run
        run: make run
